language: php

dist: trusty

php:
  - 5.5
  - 5.6
  - 7.1
  - 7.2
  - 7.3
#  - hhvm

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script: phpunit